asgiref==3.11.0
beautifulsoup4==4.14.3
Django==4.2.27
django-bootstrap-v5==1.0.11
gunicorn==23.0.0
packaging==25.0
pillow==12.0.0
soupsieve==2.8
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.7.0
psycopg2-binary==2.9.9
django-anymail==14.0